@import "tailwindcss";

:root {
  font-family: 'JetBrains Mono', 'Fira Code', 'Consolas', monospace;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#app {
  min-height: 100vh;
}

* {
  border-radius: 0 !important;
}
